body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0%;
}
h1{
    font-size: 55px;
}

.name-color{
    color: orange;
}
#font-size{
    font-size:20px
    
}
section h2{
    font-size: 25px;
}

.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-top: 2%;
    padding-right: 2%;
    padding-left: 7%;
}
#half-width{
    
    padding-left: 7%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: rgb(250, 249, 249);
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big h1{
    font-size: 55px;
}
#dream-big{
    margin-right: 200px;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.font-size{
    font-size: 45px;
}

.dream-big p{
    font-size: 20px
}
#half-width img{
    width: 60%;
    padding-left: 2%;
}
.developer{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left:  20px;
    padding-right: 20px;
    padding-bottom: 100px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px grey;
    /* border-left: 10px solid ; */
}
.experiences-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#Baby-Web-Developer{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
#Pro-Level-Developer{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
